body{
    height: 100%;    
}

.bodybg {
    /* Background image */
    background-image: url(../images/background.jpg);
    height: 100%;
    background-position-x: center;
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-size: cover;
  }

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tagLine {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    justify-content:flex-start;
    font-family: 'Ubuntu Mono', monospace;
    color: rgb(170, 15, 41);     
    font-size:20px; 
    font-weight: bold;
    line-height: 2px; 
    margin-top: 2px;
    margin-left: 10px;
}

#headingText {
    font-family: 'Montez', cursive; 
    color: blue;     
    font-size:48px; 
    font-weight: bold;
    
}

.btnSign {
    
    background-color: blue;
    color: #fff;    
    margin: 5px;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: solid;
    border: 2px;
    border-style: solid;
    padding-top:9px;
    padding-bottom:9px;
    padding-left:18px;
    padding-right:18px;
    border-color:#a09719;
    border-radius: 12px;
}

#btnPostsGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 280px;

}

.btnPosts{   
    
    background-color: orange;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius: 25px;
}
/*
.btnRound{   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    background-color: blue;
    border: none;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
}
*/
.column {
    float: left;
    width: 20%;
    padding-top: 0px;
    padding-left: 15px;

  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
